{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}


<!-- Form -->

<div class="container my-3">
    <h2>Add a Todo</h2>
    <form action="/" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">TODO</label>
            <input type="text" class="form-control" name="title" placeholder="Ex: Go to the market...." id="title"
                required>

        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" class="form-control" name="desc"
                placeholder="Ex: Need to go to the market and buy the required vegetables....." id="desc">
        </div>

        <button type="submit button" class="btn btn-outline-secondary">ADD</button>
    </form>
</div>

<div class="container my-5">
    <h2>Your TODOs</h2>

    {% if allTodo|length == 0 %}
    <div class="alert alert-warning" role="alert">
        No Todos found for today.... Add One First....
    </div>
    {% else %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Sno.</th>
                <th scope="col">Title</th>
                <th scope="col">Desc</th>
                <th scope="col">Date Modified</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in allTodo %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_Modified}}</td>
                <td class="done">
                    <a href="/done/{{todo.sno}}" type="button" class="btn btn-outline-dark mx-1">DONE</button>
                        <a href="/update/{{todo.sno}}" type="button"
                            class="btn btn-outline-success mx-1">Update</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
    crossorigin="anonymous"></script>


{% endblock body %}